@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    --cor-de-fundo: #000000;
    --cor-primaria: #4694ec;
    --cor-secundaria: #260efa;
    --fonte: "Quantico", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    color: white;
}

body{
    font-family: var(--fonte);
    background-color: var(--cor-de-fundo);
    color: var(--cor-de-fundo);
    height: 100vh;
    margin: 0;
}

header{
    background-color: var(--cor-secundaria);
    color: white;
    text-align: center;
}

footer{
    background-color: var(--cor-primaria);
    color: white;
}

h1{
    font-weight: 700;
}

nav{
    display: flex;
    justify-content: center;
    font-weight: 400;
}

nav a{
    text-decoration:none;
    background-color: var(--cor-secundaria); 
    color: var(--cor-de-fundo);
    font-size: 1.2rem;
}

nav a:hover{
    text-decoration:none; 
    background-color: var(--cor-primaria);
    transform: rotateY(45deg);
    color: var(--cor-de-fundo);
    font-size: 1.2rem;
}

footer{
    text-align: center;
    background-color: var(--cor-primaria);
    color: white;
}

.graficos-container{
    margin: 5rem;
}

span{
    font-weight: bold;
    color: var(--cor-secundaria);
}

.graficos-texto{
    font-size: 1.3rem;
    border: var(--cor-primaria) solid 2px;
    padding: 2rem;
}